  <!-- {{ name  }} -->
  <recipeSet priority="Normal">
    <recipe whiteboard="UPT Smoke test - {{ name }}" role="None" ks_meta="redhat_ca_cert harness='restraint-rhts beakerlib-redhat' selinux=--permissive" kernel_options="" kernel_options_post="">
      <autopick random="false" />
      <watchdog panic="ignore" />
      <packages />
         {% include 'ks_appends.j2' %}
      <repos />
         {% include 'distro_requires.j2' %}
         {% include 'host_requires.j2' %}
      <partitions />
         {% block tasks %}{% endblock %}
    </recipe>
  </recipeSet>
